body {
  margin:0;
  background:#0e0e0e;
  color:#eaeaea;
  font-family:Tahoma;
}

a { color:#4da3ff; text-decoration:none }
a:hover { color:#7dbbff }

.container {
  width:90%;
  max-width:1000px;
  margin:auto;
}

.card {
  background:#161616;
  padding:15px;
  margin:10px 0;
  border-radius:8px;
}

input, button, select {
  background:#1f1f1f;
  color:#fff;
  border:1px solid #333;
  padding:8px;
  border-radius:5px;
}

button { cursor:pointer }

img {
  width:100%;
  margin-bottom:10px;
  border-radius:6px;
}

@media (max-width: 600px) {
  h1,h2 { font-size:20px }
  .card { padding:12px }
  button,input { width:100%; margin-top:5px }
}
